@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap");

:root {
  --primaryColor: #1c0d26 !important;
  --secondaryColor: #1d7261 !important;
  --thirdColor: #f4b13d !important;
  --fourthColor: #d94969;
  --fontFamily: "Lato", sans-serif;
}

body {
  color: white;
  background-color: var(--primaryColor);
}

i {
  color: white;
}
/* Navbar */

header.hero {
  height: 40vh;
  background: url(/gog-assets/nav-bg.jpg) no-repeat center center/cover;
  position: relative;
}

.navbar-brand span {
  background-color: white !important;
  display: inline-block !important;
  width: 42px !important;

  margin-left: 5px;
  border-radius: 5px;
}

.nav-container {
  z-index: 100;
}
.navbar-brand span img {
  border-radius: 5px;
}
nav.navbar {
  background-color: var(--primaryColor);
  height: 60px;
  opacity: 0.9;
}

.navbar {
  top: 5px;
}

.navbar-dark .navbar-brand {
  color: red;
}

header .deal {
  color: white;
  position: absolute;
  left: 400px;
  bottom: 0;
  font-size: 17px;
  font-family: var(--fontFamily);
  font-weight: bold;
}

header .deal div + div {
  font-size: 28px;
  font-weight: 700;
}

@media (max-width: 576px) {
  header .deal {
    color: white;
    position: absolute;
    left: 5px;
    bottom: 0;
    font-size: 15px;
    font-family: var(--fontFamily);
    font-weight: bold;
    /* text-align: center; */
    /* margin-top: 10px; */
  }

  header .deal div p {
    font-size: 15px;
    /* font-weight: 700; */
  }

  header .deal div + div {
    font-size: 21px;
    font-weight: 700;
  }
}
ul > li > a {
  /* color: #ccc; */
  /* color: red; */
  font-size: 14px;
  font-family: var(--fontFamily);
  font-weight: 700;
  padding-left: 10px;
  /* z-index: 10 !important; */
}

.navbar-dark .navbar-toggler {
  color: red;
}

.hero * {
  /* el aterico se usa para decir que todo lo que esta dentro de la clase .hero  */
}

/* Section slice */

.border-bottom {
  border-bottom: 1px solid var(--thirdColor) !important;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.section-slice {
  background: var(--primaryColor);
}

/* Card */

.card-slice {
  margin-top: 20px;
  cursor: pointer;
}
.card-slice:hover {
  width: 20% !important;
}
.bg-green {
  background: var(--secondaryColor);
}

.bg-green:hover {
  background: var(--thirdColor);
}

/* 
.col-4 {
  max-width: 31.333333%;
} */

.card-footer {
  position: relative;
  /* align-items: center; */
  /* padding-left: 50px; */
}

.icons-slice {
  /* flex-direction: column; */
  justify-content: space-between;
}
.discount {
  /* display: inline-block; */
  background-color: var(--fourthColor);
  /* width: 20%; */
  /* height: 30px; */
  font-weight: 700;
  align-self: baseline;

  /* padding-left: 50px; */
}

.price {
  position: absolute;
  right: 19px;
  bottom: 32px;
  font-size: 10px;
  line-height: 9px;
  font-weight: 700;
  text-decoration: line-through;
  color: var(--thirdColor);
}
.fa-windows {
  color: var(--thirdColor);
}

/* cards slice */

/* Section */

.outstanding-text {
  font-size: 14px;
  font-family: var(--fontFamily);
  line-height: 24px;
  font-weight: 700;
}
.outstanding-text span {
  color: var(--fourthColor);
}

/* footer */

div.footer {
  background: #262626;
}
div ul {
  list-style: none;
  /* padding-left: 5px; */
}

div ul li a {
  color: #ddd;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
}
div ul li a:hover {
  text-decoration: none;
  color: white;
}

div i {
  padding-left: 9px;
  color: #ddd;
}

div i:hover {
  color: var(--primaryColor);
}

.footer-navbar ul p,
.footer-nabvar ul li a,
footer span,
footer ul li a {
  color: rgba(255, 255, 255, 0.43);
  font-size: 12px;
}

.secondPart {
  background: #2f2f2f;
}

.secondPart img {
  width: 4%;
  height: 4%;
  border-radius: 5px;
}

.current {
  color: #da8bf0;
}
